<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="TestApp" packages='com.antosha4e.log'>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d %highlight{%p} %c{1.} [%t] %m%n</pattern>
                <replace regex="([0-9]{4})([0-9]{9,15})" replacement="$1************"/>
            </PatternLayout>
        </Console>

        <Console name="STDOUT1" target="SYSTEM_OUT">
            <MaskingPatternLayout />
        </Console>

        <Console name="STDOUT2" target="SYSTEM_OUT">
            <MaskingPatternLayout>
                <PatternLayout pattern="%d %highlight{%p} %c{1.} [%t] %m%n" />
            </MaskingPatternLayout>
        </Console>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT2"/>
        </Root>
    </Loggers>
</Configuration>
