<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="TestApp" packages='com.antosha4e.log'>

    <Appenders>
        <Console name="NAIVE_MASK" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d %highlight{%p} %c{1.} [%t] %m%n</pattern>
                <replace regex="([0-9]{4})([0-9]{9,15})" replacement="$1************"/>
            </PatternLayout>
        </Console>

        <Console name="INLINE_PATTERN" target="SYSTEM_OUT">
            <MaskingPatternLayout pattern="%d %highlight{%p} %c{1.} [%t] %m%n" />
        </Console>

        <Console name="NESTED_PATTERN" target="SYSTEM_OUT">
            <MaskingPatternLayout>
                <PatternLayout pattern="%d {%p} %c{1.} [%t] %m%n" />
            </MaskingPatternLayout>
        </Console>

    </Appenders>

    <Loggers>
        <Root level="INFO">
<!--            <AppenderRef ref="NAIVE_MASK"/>-->
            <AppenderRef ref="INLINE_PATTERN"/>
<!--            <AppenderRef ref="NESTED_PATTERN"/>-->
        </Root>
    </Loggers>
</Configuration>
